{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
<header>
    <div id="header__fixed-window">
       <p>Sign up and get 20% off to your first order. <b>Sign Up Now</b> </p> 
            {% if request.user.is_authenticated %}
            <img src="{% static 'main/img/Frame.png'%}" alt="">
            {% endif %}
    </div>
    <div class="header">
        <nav class="header__container">
              <h2>SHOP.CO</h2>
          <ul class="header__burger">
               <li class=" text_underline_hover">Shop</li>
            <li class=" text_underline_hover">On Sale</li>
            <li class=" text_underline_hover">New Arrivals</li>
            <li class=" text_underline_hover">Brands</li>
              {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown text_underline_hover">
                      <a class="nav-link dropdown-toggle text_underline_hover" href="{% url 'users:profile' %}" role="button"
                         data-bs-toggle="dropdown" aria-expanded="false">
                         <span class="dropdown-item text_underline_hover">Мой профиль</span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item text_underline_hover" href="{% url 'users:profile' %}">Личный кабинет</a></li>
                          {% if user.is_admin or user.is_staff %}
                              <li><a class="dropdown-item text_underline_hover" href="{% url "admin:index" %}">Админ панель</a></li>
                          {% endif %}
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item text_underline_hover" href="{% url "users:logout" %}">Выйти</a></li>
                      </ul>
                  </li>
              {% endif %}

        </ul>
           
            
                <form role="search">
            <input class="header__search" name="q" id="ksysha" type="search" placeholder="Search for products..." aria-label="Search">
            </form>
             <ul class="header__ikonki">
                 <li><button id="korzina" type="button" class="button_none"><img class=" pointer" src="{% static 'main/img/Korzina.svg' %}" alt="" >
                     <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
                 </button></li>
                 <li class="header__ikonki_flex"><a href="{% url "users:login" %}"><button id="profile" class="button_none"><img class='header__ikonki_flex_object pointer"' src="{% static 'main/img/Avatar.svg' %}" alt="" ></button></a></li>
                </ul>
            
        </nav>
    </div>
</header>
<dialog id="shop-js">
    <h3>YOUR CART</h3>
    <button id="cancel" class="bi bi-x-circle button_none"> </button>
    <div class="dialog__container">
   <div class="modal-body">
                <h3 class="text-center mb-4">Корзина</h3>
                <div class="container" id="cart-items-container">
                    <!-- Разметка корзины -->
                    {% include "carts/includes/included_cart.html" %}
                    <!-- Закончилась разметка корзины -->
                </div>
        </div>
         </div>
</dialog>

<dialog id="danya">
    <div class="poisk-container">
    <ul class="list">
      {% for el in news %}
          
      <li>
      <div>
      <p> {{ el.name}} </p>
          </div>
      </li>
          
        {% endfor %}
    </ul>
    </div>
</dialog>
<main>
    {%  block main%}
    {%endblock%}
</main>
<aside>
    {%block aside%}
    {%endblock%}
</aside>
<footer>
    {%block footer%}
    {%endblock%}
</footer>
<script src="{% static 'main/js/main.js' %}"></script>
<script src="{% static "main/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>