{% load static %}
{% load goods_tags %}
{% load carts_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "main/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "main/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "main/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "main/favicon/site.webmanifest" %}">
</head>
<body>
<header>
    <div id="header__fixed-window">
       <p>Sign up and get 20% off to your first order. <b>Sign Up Now</b> </p> 
            {% if request.user.is_authenticated %}
            <img src="{% static 'main/img/Frame.png' %}" alt="">
            {% endif %}
    </div>
    <div class="header">
        <nav class="header__container">
              <h2>SHOP.CO</h2>
          <ul class="header__burger">
               <li class=" text_underline_hover">Shop</li>
            <li class=" text_underline_hover">On Sale</li>
            <li class=" text_underline_hover">New Arrivals</li>
            <li class=" text_underline_hover">Brands</li>
              {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown text_underline_hover">
                      <a class="nav-link dropdown-toggle text_underline_hover" href="{% url 'users:profile' %}" role="button"
                         data-bs-toggle="dropdown" aria-expanded="false">
                         <span class="dropdown-item text_underline_hover">Мой профиль</span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item text_underline_hover" href="{% url 'users:profile' %}">Личный кабинет</a></li>
                          {% if user.is_admin or user.is_staff %}
                              <li><a class="dropdown-item text_underline_hover" href="{% url "admin:index" %}">Админ панель</a></li>
                          {% endif %}
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item text_underline_hover" href="{% url "users:logout" %}">Выйти</a></li>
                      </ul>
                  </li>
              {% endif %}

        </ul>

                <form role="search" action="{% url 'shop:search' %}" method="get">
            <input class="header__search" name="q" id="ksysha" type="search" placeholder="Search for products..." aria-label="Search">
            </form>
             <ul class="header__ikonki">
             <!-- Значек корзины, вызывает модальное окно -->
                 {% block modal_cart %}{% endblock  %}
             <!-- Закончилась разметка модального окна -->
              {% if not request.user.is_authenticated %}
                 <li class="header__ikonki_flex"><a href="{% url "users:login" %}"><button id="profile" class="button_none"><img class='header__ikonki_flex_object pointer"' src="{% static 'main/img/Avatar.svg' %}" alt="" ></button></a></li>
             {% endif %}
                </ul>
            
        </nav>
    </div>
</header>




<dialog id="danya">
    <div class="poisk-container">
    <ul class="list">
      {% for el in news %}
          
      <li>
      <div>
      <p> {{ el.name}} </p>
          </div>
      </li>
          
        {% endfor %}
    </ul>
    </div>
</dialog>
<main>
{% include "includes/notifications.html" %}
    {%  block main%}
    {%endblock%}
</main>
<aside>
    {%block aside%}
    {%endblock%}
</aside>
<footer>
    {%block footer%}
    {%endblock%}
</footer>
<script src="{% static "main/js/jquery-3.7.0.min.js" %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
<script src="{% static "main/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>